@using TaskTracker.Models.Invoice
@model Invoice
@{
    if (Model.Client == null)
    {
        return;
    }
}

<div id="display-row-@Model.InvoiceID" class="display-mode card mb-2 invoice-display-row">
    <div class="avenir-light card-body">
        <div class="row">
            <div class="col-md-4">@Model.Client.Name</div>
            <div class="col-md-4">@Model.Status</div>
            <div class="col-md-4">$@Model.TotalAmount.ToString("N2")</div>
            <div class="col-md-4">
                <abbr title="Invoice date">
                    @Model.InvoiceDate.ToString("d")
                </abbr>
            </div>
            <div class="col-md-4">
                <abbr title="Sent date">
                    @(Model.InvoiceSentDate.HasValue? Model.InvoiceSentDate.Value.ToString("d") : "-")
                </abbr>
            </div>
            <div class="col-md-4">
                <abbr title="Sent date">
                    @(Model.PaidDate.HasValue? Model.PaidDate.Value.ToString("d") : "-")
                </abbr>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-between">
                <div>
                    <button class="btn btn-primary edit-btn" data-Id="@Model.InvoiceID">Edit</button>
                    <form asp-action="Send" asp-route-id="@Model.InvoiceID" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-info">
                            @(Model.InvoiceSentDate.HasValue ? "Resend" : "Send")
                        </button>
                    </form>
                    <form asp-action="Paid" asp-route-id="@Model.InvoiceID" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-success" disabled="@(Model.PaidDate.HasValue ? "disabled" : null)">
                            Paid
                        </button>
                    </form>
                </div>
                <a asp-action="Delete" asp-route-id="@Model.InvoiceID" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>