@model TaskTracker.Models.Invoice

<div id="display-row-@Model.InvoiceID" class="display-mode card mb-2">
    <div class avenir-light card-body">
        <div class="row">
            <div class="col-md-2">@Model.InvoiceDate.ToString("d")</div>
            <div class="col-md-2">$@Model.TotalAmount.ToString("F2")</div>
            <div class="col-md-2">@Model.Status</div>
            <div class="col-md-2">@Model.Client.Name</div>
            <div class="col-md-2">
                <button class="btn btn-primary edit-btn" data-Id="@Model.InvoiceID">Edit</button>
                <a asp-action="Details" asp-route-id="@Model.InvoiceID" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@Model.InvoiceID" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>