@using TaskTracker.Models.TimeEntries
@model TimeEntryRowViewModel
@{
    if (Model == null || Model.TimeEntry == null)
    {
        return;
    }

    var timeEntry = Model.TimeEntry;
    int timezoneOffset = Model.TimezoneOffset;
    var startLocal = timeEntry.StartDateTime.AddMinutes(timezoneOffset);
    var endLocal = timeEntry.EndDateTime is DateTime ? timeEntry.EndDateTime.Value.AddMinutes(timezoneOffset) : (DateTime?)null;
    var status = timeEntry.PaidDate.HasValue ? "Paid" : (timeEntry.InvoiceSent.HasValue ? "Invoice Sent" : (timeEntry.InvoicedDate.HasValue ? "Invoiced" : (timeEntry.EndDateTime.HasValue ? "Competed" : "Running")));
}

<div id="display-row-@timeEntry.TimeEntryID" class="display-mode card mb-2 @(Model.Parity)-row">
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-md-2" data-field="Status">@status</div>
            <div class="col-md-2" data-field="Project">@timeEntry.Project?.Name</div>
            <div class="col-md-2" data-field="StartDateTime">@startLocal.ToString("g")</div>
            <div class="col-md-2" data-field="EndDateTime">@(endLocal.HasValue? endLocal.Value.ToString("g") : "")</div>
            <div class="col-md-2" data-field="HoursSpent">@(timeEntry.HoursSpent is decimal ? timeEntry.HoursSpent.Value.ToString("F2") : "")</div>
            <div class="col-md-4" data-field="Description">@timeEntry.Description</div>
        </div>
        <div class="dropdown-container position-absolute top-0 end-0 mt-2 me-2">
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle dropdown-icon-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Actions">
                    <img src="/images/icons/action-menu.svg" alt="Dropdown" class="dropdown-icon" />
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item edit-btn" data-id="@timeEntry.TimeEntryID">Edit</button>
                    </li>
                    <li>
                        <form asp-controller="TimeEntries" asp-action="StartTimer" method="post" class="d-inline-block">
                            <input type="hidden" name="ClientID" value="@timeEntry.ClientID" />
                            <input type="hidden" name="ProjectID" value="@timeEntry.ProjectID" />
                            <input type="hidden" name="Description" value="@timeEntry.Description" />
                            <button type="submit" class="dropdown-item start-timer-item">
                                Start New Timer
                            </button>
                        </form>
                    </li>
                    <li>
                        <a class="dropdown-item delete-action-link" asp-action="Delete" asp-route-id="@timeEntry.TimeEntryID">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>