@using TaskTracker.Models.TimeEntries
@model RunningTimerViewModel
<h2>Running timer(s)</h2>
@if (Model != null && Model.TimeEntries.Any())
{
    <div class="row">
        @foreach (var timeEntry in Model.TimeEntries)
        {
            var startLocal = timeEntry.StartDateTime.AddMinutes(ViewBag.TimezoneOffset ?? 0);
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">@timeEntry.Client?.Name</h5>
                                <p class="card-text"><strong>Project:</strong> @timeEntry.Project?.Name</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text"><strong>Hours spent:</strong> <span class="hours-spent" data-time-entry-id="@timeEntry.TimeEntryID" data-start-utc="@timeEntry.StartDateTime.ToString("o")"></span></p>
                                <p class="card-text"><strong>Started:</strong> @startLocal.ToString("yyyy-MM-dd hh:mm tt")</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text"><strong>Description:</strong> @timeEntry.Description</p>
                                <form asp-controller="TimeEntries" asp-action="StopTimer" method="post">
                                    <input type="hidden" name="TimeEntryID" value="@timeEntry.TimeEntryID" />
                                    <button type="submit" class="btn btn-danger stop-timer-btn">
                                        Stop Timer
                                        <img src="/images/icons/Clock/clock-twelve.svg" alt="Clock" class="clock-icon-animated" width="20" height="20" />
                                    </button>
                                </form>
                                <button class="btn btn-primary edit-btn" data-id="@timeEntry.TimeEntryID">Edit</button>
                            </div>
                            @{
                                int timezoneOffset = Model.TimezoneOffset;
                                var timeentryRowViewModel = new TaskTracker.Models.TimeEntries.TimeEntryRowViewModel(timeEntry, 1, timezoneOffset);
                            }
                            <div class="col-12">
                                @await Html.PartialAsync("/Views/timeentries/_EditFormRow.cshtml", timeentryRowViewModel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No running timers.</p>
}

@section Scripts {
    <link rel="stylesheet" href="~/css/clock-animation.css" asp-append-version="true" />
    <script src="~/js/clock-animation.js" asp-append-version="true"></script>
}